<h1> Selected Creature Information </h1> 
<br>
<div>
    Name: <%= @creature.name %> <br>
    Description: <%=  @creature.description %> <br>
    
</div>

<br> 

<%= button_to "Back to Creatures List", creatures_path, method: :get %>